@model IEnumerable<FundacionDonandoParaAyudar.Web.Data.Entities.FoundationEntity>

<hr />
<div class="container text-center mt-4">
    <img src="~/images/Fundacion/FDPATransparente.png" alt="Logo" width="100" height="100" />
    <h2 class="text-uppercase text-purple" style="font-style:italic, oblique; font-family:Harabara;">Nuestra fundación</h2>
</div>

<div class="container text-left">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-purple" href="#programs"
               style="font-style:italic, oblique; font-family:Harabara;">Nuestros programas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-purple" href="#dataSlide"
               style="font-style:italic, oblique; font-family:Harabara;">Comentarios</a>
        </li>
    </ul>
</div>
<hr />
<div class="container" id="dataSlide">
    <div class="container text-center">
        <img src="~/images/chat_comments.png" alt="Chat comentarios" class="img-responsive" />
        <h2 class="text-uppercase mb-4" style="font-style:italic, oblique; font-family:Harabara;">
            Mira aquí los comentarios!
        </h2>
    </div>
    <div class="table-responsive">
        @if (!User.IsInRole("Admin"))
        {
        <a asp-action="Create" class="btn btn-primary mb-2"
           style="font-style:italic, oblique; font-family:Harabara;">Crear comentario</a>
        }
        <table class="table table-hover table-sm">
            <thead class="thead-dark" style="font-style:italic, oblique; font-family:Harabara;">
                <tr>
                    <th>
                        Avatar
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-style:italic, oblique; font-family:Harabara;">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="@Url.Content(item.User.PicturePath)"
                             alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                        {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">Ver Detalles</a>
                        @if (User.IsInRole("Admin"))
                        {
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal"
                                data-target="#deleteDialog">
                            Borrar
                        </button>
                        }
                    </td>
                        }
                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
    <a asp-action="MyComments" class="btn btn-link"
       style="font-style:italic, oblique; font-family:Harabara;">Ver todos mis comentarios </a>
    }
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Foundation/Delete/' + item_to_delete;
            });
        });
    </script>

}

